<div class="row no-gutter">
   <div class="col-md-3">
      <div class="left-nav">
      <p>Welcome, User</p>
      <%= link_to "Add Class", "#" %>
      <hr>
      <p>My Classes</p>
      <%= link_to "Sign Out", sign_out_path %>
   </div>
</div>

   <div class="col-md-9">
      <div class="content">
      <p>YOU ARE LOGGED IN</p>
   </div>
   </div>
</div>
