<%= form_for @assignment, url: user_classgroup_assignment_path(student_id: params[:student_id], assignment_id: params[:assignment_id]) do |f| %>

  <div class="form-group">
    <%= f.label :grade %>
    <%= f.text_field :grade, class: "form-control" %>
  </div>

  <div>
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
