<div class="center-img">
   <%= image_tag "logo.jpg", class: "center-block" %>
</div>

<div class="col-md-12 text-center">
   <div class="splash-links">
      <%= link_to "Sign in", sign_in_path %>
      <%= link_to "Register", sign_in_path %>
   </div>
</div>
