@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

@font-face {
    font-family: 'moonlight';
    src: url('/fonts/geomanist-regular-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'moonbold';
    src: url('/fonts/moonbold.ttf');
    font-weight: normal;
    font-style: normal;
}


html,body {
   height: 100%;
   font-family: 'Open Sans', sans-serif;
}

.left-nav {
   background: #F8FAFB;
   padding: 20px;
   padding-left: 10px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.center-img {
   margin-top: 20px;
   vertical-align: text-middle;
   img {
   max-width: 200px;
   margin-bottom: 0px;
}
}

.splash-links {
   margin-top: 20px;
   a:active, a:hover, a:visited, a:link {
      border: 4px solid #388F68;
      padding: 8px;
      text-decoration: none;
      text-transform: uppercase;
      color: #388F68;
      margin-left: 5px;
      margin-right: 5px;
   }
}

.content {
   background: #fff;
   padding: 20px;
   h1 {
      font-size: 30px;
      margin-top: 0px;
   }
}

.fill {
   min-height: 100%;
   height: 100%;
}

h3 {
   margin-top: -40px;
}
