<%= form_for @classgroup, url: user_classgroups_path(user: @current_user.id) do |f| %>
  <div class="form-group">
    <%= f.label :name %><br/>
    <%= f.text_field :name, class: "form-control" %></br>
  </div>

  <div class="form-group">
    <%= f.submit "Create", class: "btn btn-primary"%>
  </div>
<% end %>
